@import url("http://fonts.googleapis.com/css?family=Roboto:100");
@charset "UTF-8";


/*body{
  display:flex;
  align-items:center;
  justify-content:center;
  height: 100vh;
  width: 100vw;
  margin:0;
  background:#181D26;
}*/

.brand {
  
  width: 200px;
  height: 200px;
  position: relative;
  margin: 0 auto;
  
}
.brand:before {
  
  background-size: 100% 100%;
  content: "";
  line-height: 205px;
  color: #ff004e;
  font-size: 20px;
  font-family: "HEAVITAS", "Helvetica Rounded", Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  position: absolute;
  
  z-index: 99999 !important;
}

.logo3{
  animation: 5s linear infinite;
  animation-name: rotate-0;
  animation-delay: 0s;
  transform-origin: 50% 50%;
  transform: rotate(0deg);
  
}


svg path{
  positon:absolute;
  fill:none;
  stroke-width:2;
  top:0;
  left:0;
  /*mix-blend-mode: multiply;*/
  transform-origin: 50% 50%;
  transform: rotate(0deg) ;
  animation: 4s linear infinite;
}

.logo3 svg path:nth-child(1) {
  opacity: 1;
  animation-name: rotate-1;
  animation-delay: .5s;
}
.logo3 svg path:nth-child(2) {
  opacity: .5;
  animation-name: rotate-2;
  animation-delay: .6s;
}
.logo3 svg path:nth-child(3) {
  opacity: .8;
  animation-name: rotate-3;
  animation-delay: .7s;
}


@keyframes scale-1 {
  0%{
    transform: scale(1);
  }50% {
    transform: scale(.9);
  }100% {
    transform: scale(1);
  } 
}

@keyframes rotate-0 {
  from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
} 

@keyframes rotate-1 {
  from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@keyframes rotate-2 {
  from { transform: rotate(0deg); }
    to { transform: rotate(-360deg); }
}

@keyframes rotate-3 {
  from { transform: rotate(0deg); }
    to { transform: rotate(0deg); }
}
/* Global Styles */



/*html {
  background: #222;
}*/
.logo01 {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 100px auto;
  text-align: center;
  -webkit-animation: animate 3s infinite ease;
          animation: animate 3s infinite ease;
}
.logo01:before,
.logo01:after {
  position: absolute;
  content: '';
  width: 200px;
  height: 200px;
  top: 50px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: rgba(0,155,255,0.05);
  z-index: 0;
  box-shadow: 0 0 0 1px #fff, 0 0 10px 1px #008080, inset 0 0 10px 1px #008080;
}
.logo01:before {
  left: 35px;
}
.logo01:after {
  right: 35px;
}
.logo01 h2 {
  z-index: 100;
  line-height: 300px;
  font-family: Roboto, Sans-Serif;
  letter-spacing: 5px;
  font-size: 40px;
  color: #fff;
  text-shadow: 0 0 6px #0ff;
}
@-webkit-keyframes animate {
  0% {
    width: 300px;
  }
  50% {
    width: 240px;
  }
}
@keyframes animate {
  0% {
    width: 300px;
  }
  50% {
    width: 240px;
  }
}






html,
body {
  height: 100%;
  width: 100%;
}

.vert-text {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.vert-text h1 {
  padding: 0;
  margin: 0;
  font-size: 4.5em;
  font-weight: 700;
}

/* Side Menu */

#sidebar-wrapper {
	margin-right: -250px;
	right: 0;
	width: 250px;
	background-color: rgba(177,175,175,0.57);
	position: fixed;
	height: 100%;
	overflow-y: auto;
	z-index: 1000;
	-webkit-transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-ms-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
	border-radius: 30px 0px 0px 30px;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
	color: #000000;
	display: block;
	text-decoration: none;
}

.sidebar-nav li a:hover {
	color: #000000;
	background: rgba(255,255,255,0.2);
	text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 55px;
  line-height: 55px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#menu-toggle {
  top: 0;
  right: 0;
  position: fixed;
  z-index: 1;
}

#sidebar-wrapper.active {
  right: 250px;
  width: 250px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.toggle {
  margin: 5px 5px 0 0;
}
/* scroll Page */
.scroll-top {
    z-index: 1049;
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
}

.scroll-top .btn {
    width: 50px;
    height: 50px;
    /*border-radius: 100%;*/
    font-size: 20px;
    line-height: 28px;
}

.scroll-top .btn:focus {
    outline: 0;
}
/* Full Page Image Header Area */

.header {
	display: table;
	height: 100%;
	width: 100%;
	position: relative;
	background-repeat: no-repeat;
	background-position: center center fixed;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-image: url(../images/bg.png);
}


  /* Services */

.services {
  background: #7fbbda;
  padding: 50px 0;
  color: #ffffff;
}
.about {
	padding: 50px 0;
	color: #ffffff;
}
.ani,.graphic,.web {
  
  padding: 50px 0;
  color: #2BA689;
}
.service-item {
  margin-bottom: 15px;
}

span.service-icon {
  border: 3px solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  font-size: 56px;
  width: 140px;
  height: 140px;
  line-height: 136px;
  vertical-align: middle; 
  text-align: center;
}

/* Callout */

.callout {
  color: #ffffff;
  display: table;
  height: 400px;
  width: 100%;
  background: url(../images/callout01.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.callout2 {
	color: #ffffff;
	display: table;
	height: 400px;
	width: 100%;
	background: url(../images/callout02.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  }
  
  .callout3 {
	color: #ffffff;
	display: table;
	height: 400px;
	width: 100%;
	background: url(../images/callout03.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  }
/* Portfolio */

.portfolio {
  padding: 50px 0;
}

.portfolio-item {
  margin-bottom: 25px;
}

.img-portfolio {
  margin: 0 auto;
}


/* Call to Action */

.call-to-action {
  color: #ffffff;
  background: #0a5175;
  padding: 50px 0;
}

.call-to-action .btn {
  margin: 10px;
}


.top-scroll {
  margin-top: 50px;
}

.top-scroll a {
  text-decoration: none;
  color: inherit;
}

i.scroll {
  color: #333333;
}

i.scroll:hover {
  color: #0a5175;
}

.media-object{
	border: 1px solid rgba(114,114,114,1.00);
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 3px;
	margin-top: 5px;
	margin-left: 5px;
  }
/* Responsive */

@media (max-width: 768px) {
	
  .header {
	background-repeat: no-repeat;
	/* [disabled]background-position: center 0; */
	background-attachment: scroll;
  }

  .callout {
	background: url(../images/callout01.jpg) no-repeat center center scroll; 
  }

  .map {
	height: 75%;
  }
  .media-object{
	  transform:scale(0.5);
	  margin-left:-50px;
	  margin-right:-50px;
	  margin-top:-60px;
  }
  .img-rounded{
	  transform:scale(0.8);
	  margin-left:auto;
	  margin-right:auto;
  }

}

/* box-intro
==================================================*/

.box-intro {
    text-align: center;
    display: table;
    height: 100vh;
    width: 100%;
}

.box-intro .table-cell {
    display: table-cell;
    vertical-align: middle;
}

.box-intro em {
    font-style: normal;
    text-transform: uppercase
}

/*b i:last-child {
    color: #ffbf00 !important;
}*/

.box-intro h5 {
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #999;
    line-height: 1.7
}
/* text rotate */

.box-headline {
    font-size: 130px;
    line-height: 1.0;
}

.box-words-wrapper {
    display: inline-block;
    position: relative;
	
}

.box-words-wrapper b {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    left: 0;
    top: 0;
}

.box-words-wrapper b.is-visible {
    position: relative;
}

.no-js .box-words-wrapper b {
    opacity: 0;
}

.no-js .box-words-wrapper b.is-visible {
    opacity: 1;
}

.box-headline.rotate-2 .box-words-wrapper {
    -webkit-perspective: 300px;
    perspective: 300px;
}

.box-headline.rotate-2 i,
.box-headline.rotate-2 em {
    display: inline-block;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.box-headline.rotate-2 b {
    opacity: 0;
}

.box-headline.rotate-2 i {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translateZ(-20px) rotateX(90deg);
    transform: translateZ(-20px) rotateX(90deg);
    opacity: 0;
}

.is-visible .box-headline.rotate-2 i {
    opacity: 1;
}

.box-headline.rotate-2 i.in {
    -webkit-animation: box-rotate-2-in 0.4s forwards;
    animation: box-rotate-2-in 0.4s forwards;
}

.box-headline.rotate-2 i.out {
    -webkit-animation: box-rotate-2-out 0.4s forwards;
    animation: box-rotate-2-out 0.4s forwards;
}

.box-headline.rotate-2 em {
    -webkit-transform: translateZ(20px);
    transform: translateZ(20px);
}

.no-csstransitions .box-headline.rotate-2 i {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    opacity: 0;
}

.no-csstransitions .box-headline.rotate-2 i em {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.no-csstransitions .box-headline.rotate-2 .is-visible i {
    opacity: 1;
}
footer {
    color: #fff;
}

footer h3 {
    margin-bottom: 30px;
}

footer .footer-above {
     padding: 25px 0;
    background-color: #233140;
}

/*footer .footer-col {
    margin-bottom: 50px;
}*/

footer .footer-below {
    padding: 25px 0;
    background-color: #233140;
}

@-webkit-keyframes box-rotate-2-in {
    0% {
        opacity: 0;
        -webkit-transform: translateZ(-20px) rotateX(90deg);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateZ(-20px) rotateX(-10deg);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateZ(-20px) rotateX(0deg);
    }
}

@keyframes box-rotate-2-in {
    0% {
        opacity: 0;
        -webkit-transform: translateZ(-20px) rotateX(90deg);
        transform: translateZ(-20px) rotateX(90deg);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateZ(-20px) rotateX(-10deg);
        transform: translateZ(-20px) rotateX(-10deg);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateZ(-20px) rotateX(0deg);
        transform: translateZ(-20px) rotateX(0deg);
    }
}

@-webkit-keyframes box-rotate-2-out {
    0% {
        opacity: 1;
        -webkit-transform: translateZ(-20px) rotateX(0);
    }
    60% {
        opacity: 0;
        -webkit-transform: translateZ(-20px) rotateX(-100deg);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateZ(-20px) rotateX(-90deg);
    }
}

@keyframes box-rotate-2-out {
    0% {
        opacity: 1;
        -webkit-transform: translateZ(-20px) rotateX(0);
        transform: translateZ(-20px) rotateX(0);
    }
    60% {
        opacity: 0;
        -webkit-transform: translateZ(-20px) rotateX(-100deg);
        transform: translateZ(-20px) rotateX(-100deg);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateZ(-20px) rotateX(-90deg);
        transform: translateZ(-20px) rotateX(-90deg);
    }
}
